.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
    overflow: hidden;
}
#left_content_container {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}
#right_content_container {
    height: 100%;
    width: 100%;
    background: lightgrey;
    border-radius: 3px;
    border: groove;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#add_user_container {
    background: lightgrey;
    padding: 5px;
    margin: 5px;
    width: min-content;
    border-radius: 3px;
    border: groove;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#user_manager_container {
    background: lightgrey;
    padding: 5px;
    margin: 5px;
    width: min-content;
    border-radius: 3px;
    border: groove;
    font-size: 1.5rem;
    overflow: auto;
}
#users_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#user_search_bar {
    font-size: 1.0rem;
    padding: 2px;
    outline: none;
}
#current_user_label {
    width: fit-content;
    margin: 2px;
    padding: 2px;
    border: ridge;
    background: white;
}
#current_user_label * {
    font-size: 1.2rem;
}
#add_user_button {
    font-size: 1rem;
}
#is_admin_container {
    font-size: 1rem;
    margin: 5px;
}
#add_user_bottom {
    display: flex;
    flex-flow: row;
    width: 100%;
    align-items: center;
}

/*User Table Formatting*/
#user_table_container {
    overflow: auto;
    flex: 1 1 auto;
}
#user_table_container {
    border-collapse: collapse;
}
#user_table_container * {
    font-size: 1rem;
    align-content: center;
}
#user_table_container textarea {
    resize: none;
    outline: none;
    text-align: center;
}
#user_table_container tr * {
    margin: 0;
}
#user_table_container tr {
    text-align: center;
}
#user_table_container th {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#user_table_container td {
    border: 1px solid black;
}
#user_table_container .delete_user {
    font-size: 1.3rem;
    background: red;
    border: 1px solid black;
    border-radius: 3px;
}