.content {
    margin: 10px;
    overflow: hidden;
}
.content_container {
    padding: 5px;
    background: lightgray;
    border-radius: 3px;
    border: groove;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#logout_panel {
    border-radius: 5px;
    border: groove;
    width: fit-content;
    font-size: 1.2rem;
    padding: 5px;
}