<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>{% block title %}Template{% endblock %}</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/index_eventSheet.js') }}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    {% block head %}
	{% endblock %}
</head>
<body>
	<div class="background">
		<div class="header">
			<a href="/"><img class="logo" src="{{ url_for('static', filename='images/JartrekLogo.png') }}" alt="Jartrek Header"/></a>
			{% block header %}
			{% endblock %}
		</div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{category}} flash_box">
                    <label>{{ message }}</label>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<div class="footer">
			{% block footer %}
			{% endblock %}
			<div class="help_button_container" style="display: flex; align-items: center; font-size: 1rem;">
				<a href="help" class="help_button" style="text-decoration: none; font-size: 1.2rem;">
					&#63;
				</a>
				Help
			</div>
			<a style="font-weight: bold;">(800)222-8117</a>
			<img class="logo_foot" src="{{ url_for('static', filename='images/JartrekLogo.png') }}" alt="Jartrek Footer"/>
		</div>
	</div>
</body>
</html>