<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
{% endblock %}
{% block content %}
<div id="container">
    <form method="POST" id="login_panel" class="column">
        <h3 class="header_label">LOGIN</h3>
        <label>Username:</label><br>
        <input type="text" name="username" id="username" placeholder="username"><br>
        <br>
        <label>Password:</label><br>
        <input type="password" name="password" id="password" placeholder="password"><br>
        <br>
        <input type="submit" name="submit" id="submit" value="Login">
    </form>
</div>
{% endblock %}